<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/assets/styles.css" />
    <title>TODO App</title>
  </head>
  <body>
    <h1>My todo lists</h1>
    <div id="todo-table">
      <form>
        <input type="text" name="" placeholder="Add new item" required />
        <button type="submit">Add Item</button>
      </form>
      <ul>
        <% for(let i = 0; i < data.length; i++) { %>
          <li id="<%= data[i]._id %>"> <%= data[i].item %> </li>
        <% } %>
      </ul>
    </div>
    <script src="/assets/todo-list.js"></script>
  </body>
</html>
